<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title_parameter }}</title>
    <link rel="stylesheet" href="/css/main.css?{{ site.time | date: '%s%N' }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="item-nav">
            <nav>
                <ul>
                    <li><a href="/index.html"> Home </a></li>
                    <li><a href="/about"> About </a></li>
                    <li></li>
                </ul>
            </nav>
        </header>
        {{ content }}
    </div>
</body>
</html>